<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Scheduled-countdown.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E897A6AE1231C362118ADF414620B34BA14E88F1</string>
				<key>dateExpires</key>
				<string>2022-03-09</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64_32</string>
						<string>armv7k</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E897A6AE1231C362118ADF414620B34BA14E88F1</string>
						<key>dateExpires</key>
						<string>2022-03-09</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>embeddedBinaries</key>
					<array>
						<dict>
							<key>architectures</key>
							<array>
								<string>armv7k</string>
								<string>arm64_32</string>
							</array>
							<key>bitcode</key>
							<true/>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>E897A6AE1231C362118ADF414620B34BA14E88F1</string>
								<key>dateExpires</key>
								<string>2022-03-09</string>
								<key>type</key>
								<string>Apple Distribution</string>
							</dict>
							<key>entitlements</key>
							<dict>
								<key>application-identifier</key>
								<string>F8993Q6N82.com.Scheduled-countdown.watchkitapp.watchkitextension</string>
								<key>beta-reports-active</key>
								<true/>
								<key>com.apple.developer.team-identifier</key>
								<string>F8993Q6N82</string>
								<key>com.apple.security.application-groups</key>
								<array>
									<string>group.com.Scheduled-countdown.settings</string>
								</array>
								<key>get-task-allow</key>
								<false/>
							</dict>
							<key>name</key>
							<string>Scheduled-countdown WatchKit Extension.appex</string>
							<key>profile</key>
							<dict>
								<key>UUID</key>
								<string>1de64616-fb74-429a-ac49-2dafdc59f980</string>
								<key>name</key>
								<string>iOS Team Store Provisioning Profile: com.Scheduled-countdown.watchkitapp.watchkitextension</string>
							</dict>
							<key>symbols</key>
							<true/>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>F8993Q6N82</string>
								<key>name</key>
								<string>Mathias Halen</string>
							</dict>
						</dict>
					</array>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>F8993Q6N82.com.Scheduled-countdown.watchkitapp</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>F8993Q6N82</string>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>F8993Q6N82.com.Scheduled-countdown.watchkitapp</string>
						</array>
					</dict>
					<key>name</key>
					<string>Scheduled-countdown WatchKit App.app</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>4a6b2455-24ea-4e1f-9555-3c837a7c75e0</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: com.Scheduled-countdown.watchkitapp</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F8993Q6N82</string>
						<key>name</key>
						<string>Mathias Halen</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>F8993Q6N82.com.Scheduled-countdown</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>F8993Q6N82</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>F8993Q6N82.com.Scheduled-countdown</string>
				</array>
			</dict>
			<key>name</key>
			<string>Scheduled-countdown.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8486181b-456d-4083-b328-8964ef6a8685</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.Scheduled-countdown</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>F8993Q6N82</string>
				<key>name</key>
				<string>Mathias Halen</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
