<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>ipadress</string>
			<key>Key</key>
			<string>ip_adress</string>
			<key>DefaultValue</key>
			<string>69</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Notifications</string>
			<key>Key</key>
			<string>use_notifications</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Debug</string>
			<key>Key</key>
			<string>debug</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>debug_version</string>
			<key>Key</key>
			<string>debug_version</string>
		</dict>
	</array>
	<key>ApplicationGroupContainerIdentifier</key>
	<string>group.com.Scheduled-countdown.settings</string>
</dict>
</plist>
